html, body {
  margin-right: 10px;
  color: black;
  font-size: 1em;
  font-family: helvetica, sans-serif;
}

.container {
  width: 90%;
}

@media (max-width: 768px) {
  html, body {
    margin-right: 20px;
  }
}

p {
  margin: 0px;
}

svg {
  border: 2px solid rgba(100, 100, 100, 0.5);
  border-radius: 10px;
  background-color: rgba(45, 45, 45, 0.5);
}

.chart {
  padding: 15px;
}

text {
  font-size: 10px;
  pointer-events: none;
  fill: #fff;
}

#loading {
  font-size: 22px;
  fill: grey;
}

.number {
  font-size: 32px;
  fill: #fff;
  opacity: .8;
}



/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.extent{
  visibility: visible !important;
  fill: red;
}

.resize rect{
  visibility: visible !important;
  fill: none;
}



#g-play-button {
  position: relative;
  top: 10px;
  left: 5px;
  background: #004276;
  padding-right: 26px;
  border-radius: 2px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 68px;
  cursor: pointer;
  height: 30px;
  font: 13px sans-serif;
}

#g-play-button:hover {
  background-color: #064d84;
}

#g-play-button:active {
  background-color: #002657;
}


.g-axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  fill: #777;
}

.g-axis .domain {
  fill: none;
  stroke: #fff;
  stroke-width: 8px;
  stroke-linecap: round;
}

.g-axis .tick line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.g-axis .tick-special {
  font-weight: bold;
  fill: black;
}

.g-axis .g-halo {
  fill: none;
  stroke: #ccc;
  stroke-width: 10px;
  stroke-linecap: round;
}

.g-slider .background {
  cursor: ew-resize !important;
}

.g-slider .g-handle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.0px;
  pointer-events: none;
}

